<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Comments for : <small><%= @question.title %></small></h1>
</div>


<% @answers.each do |answer| %>
  <div class="status row">
      <div class="span7">
		  <strong> <%= answer.answer %></strong>
		  <p> <%= answer.responder.name %> </p>
      </div>
  </div>
<% end %>