<% if current_user %>
	<div>
	  <h1>Project</h1>
		<div>
		  <%= render 'proyectos/form' %>
		</div>

		<div class="down">
		  <p><%= link_to 'Back', user_path(current_user) %></p>
		</div>
	</div>
<% end %>

<% if session[:session] %>
  <p><%= session[:errors] %></p>
  <% session[:errors].clear %>
<% end %>