<p id="notice"><%= notice %></p>
	<div class="page-header">
	<h1>Post created</h1>
	</div>
<table class="table">
	<tbody>
		<tr class="info">
			<th>Title:</th>
			<th><%= @question.title %></th>
		</tr>
		<tr class="active">
			<th>Question:</th>
			<th><%= @question.question %></th>
		</tr>
	</tbody>
</table>

