<body id="fondo" >

		
<br>
<br>
<br>



<div id="block1"class="grid-3">
	 <img id="imgemp"src="https://reqlut2.s3.amazonaws.com/images/home/icono03Duoc.png">
	 <div id="texthome"><h1 id="home"><%= link_to 'Empresa', "/users/new?user_type=Empresario" %></h1>
	   <p>Empresario Postea tus mayores ideas para hacer crecer tu empresa.<p>
	 </div>
</div>

<div id="block2"class="grid-3">
	 <img id="imgpra"src="http://www.cibertec.edu.pe/wp-content/uploads/2014/03/icono-home-gestion.png">
	 <div id="texthome"><h1 id="home"><%= link_to 'Practicante', "/users/new?user_type=Practicante" %></h1>
	  Practicante mejora tus habilidades y adquiere experiencia postulandote a las mejores proyectos que las empresas tienen para ti.
	 </div>
</div>
<!-- <footer id="footer">
  <div class="container">
    <div class="row">    
      <div class="col-xs-6 col-sm-6 col-md-3 column">          
          <h4>Information</h4>
          <ul class="nav">
            <li><a href="about-us.html">Products</a></li>
            <li><a href="about-us.html">Services</a></li>
            <li><a href="about-us.html">Benefits</a></li>
            <li><a href="elements.html">Developers</a></li>
          </ul> 
        </div>
      <div class="col-xs-6 col-md-3 column">          
          <h4>Follow Us</h4>
          <ul class="nav">
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Google+</a></li>
            <li><a href="#">Pinterest</a></li>
          </ul> 
      </div>
      <div class="col-xs-6 col-md-3 column">          
          <h4>Contact Us</h4>
          <ul class="nav">
            <li><a href="#">Email</a></li>
            <li><a href="#">Headquarters</a></li>
            <li><a href="#">Management</a></li>
            <li><a href="#">Support</a></li>
          </ul> 
      </div>
      <div class="col-xs-6 col-md-3 column">          
          <h4>Customer Service</h4>
          <ul class="nav">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Delivery Information</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms &amp; Conditions</a></li>
          </ul> 
      </div>
    </div>
  </div>
</footer> -->


</body>