
<body class="fondo">

<div class="row home-space">
  <div class="text-center col-md-3 col-md-offset-2 col-sm-6 col-xs-12 ">
     <img id="imgemp"src="https://reqlut2.s3.amazonaws.com/images/home/icono03Duoc.png">
     <div id="texthome">
        <h1 id="home"><%= link_to 'COMPANY', "/users/new?user_type=Empresario", class: 'btn btn-default btn-lg' %></h1>
        <p>Post your greatest entrepreneur ideas to grow your business.<p>
     </div>
  </div>
  <div class="text-center col-md-3 col-md-offset-2 col-sm-6 col-xs-12">
    <img id="imgpra"src="http://www.cibertec.edu.pe/wp-content/uploads/2014/03/icono-home-gestion.png">
    <div id="texthome">
      <h1 id="home"><%= link_to 'LEARNER', "/users/new?user_type=Practicante", class: 'btn btn-default btn-lg' %></h1>
      <p>Practitioner improve your skills and gain experience running for the best projects that companies have for you.</p>
    </div>
  </div>
</div>
</body>