<div class="row col-md-6 col-md-offset-4">
<h1><%= "#{@user.name}," " " "update your profile" %></h1>
</div>
<div class="row col-md-6 col-md-offset-4">
<%= render 'form', user_type: @user_type %>
</div>